<!doctype html>
<html lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <h1 th:text="${'Update Edition ' + edition.displayTitle}"></h1>

    <form th:action="@{/works/{workId}/editions/{editionId}/update(workId=${work.id},editionId=${edition.id})}" th:object="${edition}" method="POST">

        <input type="hidden" th:field="*{id}">

        <label for="title">Title:</label>
        <input type="text" th:field="*{title}" id="title">

        <label for="subtitle">Subtitle:</label>
        <input type="text" th:field="*{subtitle}" id="subtitle">

        <label for="publishdate">Date published</label>
        <input type="date" th:field="*{publishedDate}" id="publishdate" required>

        <input type="submit" value="Update edition">

    </form>


</div>

</body>
</html>