<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<h1>BookVault</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>First Published</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="tempWork : ${works}">
            <td >
                <a th:href="@{/work/{id}(id=${tempWork.id})}" th:text="${tempWork.displayTitle}">
                    There should be a book here 🤨
                </a>
            </td>
            <td th:text="${tempWork.firstPublishedDate}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>