<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} + ' - ' + ${siteName}"></title>
</head>
<body>

<h1>Hello World!</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>First Published</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="tempWork : ${works}">
            <td th:text="${tempWork.displayTitle}">There should be a book here 🤨</td>
            <td th:text="${tempWork.firstPublishedDate}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>