<!doctype html>
<html lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">


    <h1 th:text="${work.displayTitle}">Book Title</h1>
    <hr>
    <h2>Editions</h2>
    <div class="edition" th:each="edition : ${work.allEditionsSortedByPublishDateDesc}">
        <h3 th:text="${edition.displayTitle}">Edition Title</h3>
        <a th:href="@{/works/{workId}/editions/{editionId}/update(workId=${work.id},editionId=${edition.id})}">Edit</a>
        <a th:href="@{/works/{workId}/editions/{editionId}/delete(workId=${work.id},editionId=${edition.id})}"
           onclick="return confirm('Are you sure?')">Delete</a>
        <h4 th:text="${'Published: ' + edition.publishedDate}"></h4>
        <h4>Publisher:</h4>
        <div th:each="publisher: ${edition.publishers}">
            <p th:text="${publisher.name}">Publisher Name</p>
        </div>


        <div class="authors">
            <h4>Authors</h4>
            <div th:each="author: ${edition.allAuthorsOrderByName}">
                <p th:text="${author.name}">Author Name</p>
            </div>
        </div>
    </div>
    <a th:href="@{/works/{workId}/editions/add(workId=${work.id})}">Add another edition</a>


<footer th:replace="~{fragments/footer :: footer}"></footer>
</div>

</body>
</html>