<!doctype html>
<html lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">


    <h1 th:text="${work.displayTitle}">Book Title</h1>
    <hr>
    <h2>Editions</h2>
    <div class="card mb-3" th:each="edition : ${work.allEditionsSortedByPublishDateDesc}">
        <!--        <div class="card-header">-->
        <!--            <h5>Edition</h5>-->
        <!--        </div>-->
        <div class="card-body">
            <h5 class="card-title" th:text="${edition.displayTitle}">Edition Title</h5>

            <h6 class="card-subtitle" th:text="${'Published: ' + edition.publishedDate}"></h6>

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Publishers</h5>
                </div>
                <div class="card-body" th:each="publisher: ${edition.publishers}">
                    <p class="card-text" th:text="${publisher.name}">Publisher Name</p>
                </div>
            </div>



            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Authors</h5>
                </div>
                <div class="card-body">
                    <div th:each="author: ${edition.allAuthorsOrderByName}">
                        <p class="card-text" th:text="${author.name}">Author Name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-info" th:href="@{/works/{workId}/editions/{editionId}/update(workId=${work.id},editionId=${edition.id})}">Edit</a>
            <a class="btn btn-danger" th:href="@{/works/{workId}/editions/{editionId}/delete(workId=${work.id},editionId=${edition.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </div>
    </div>

    <a class="btn btn-primary" th:href="@{/works/{workId}/editions/add(workId=${work.id})}">Add another edition</a>


    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>

</body>
</html>